{% include "header.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('./static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Hi, I’m Bhargav! I’m passionate about programming and always on the lookout for the latest tech and gadgets to dive into. When I’m not coding or exploring new tech, you can find me immersed in the world of gaming or geeking out over DC Universe superheroes. I also love tackling DIY projects, whether it’s building something from scratch or fixing up old gadgets. If it involves creativity, problem-solving, or just a bit of fun, I’m all in! Feel free to connect if you share any of these interests or just want to chat about the latest in tech and gaming.</p>
                    </div>
                </div>
            </div>
        </main>
{% include "footer.html" %}